:host {
    font-size: 75%;
}

.menu {
    background-color: #BB934B;
    border-radius: 5px;
}

.menu-md {
    display: none;
    color: white;
    font-weight: bold;
}

.menu-sm {
    display: flex;
}

@media (min-width: 768px) {
    .menu-md {
        display: flex;
    }
    .menu-sm {
        display: none;
    }
}

.horiz-btn {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: white;
}

.btn-menu {
    cursor: pointer;
}

.btn-menu-disabled {
    opacity: 0.8;
    cursor: not-allowed;
}