<div class="menu menu-md shadow-border ps-2 pt-2 pb-2">
    <ng-container *ngFor="let menu of menus">
        <div (click)="menu.route === 'about-us' ? onMenuClicked($event, menu) : null" class="horiz-btn"
            [ngClass]="{'btn-menu': menu.route === 'about-us', 'btn-menu-disabled': menu.route !== 'about-us'}">
            {{menu.name}}
        </div>
    </ng-container>
</div>
<div class="menu menu-sm shadow-border p-2">
    <select style="width: 100%;">
        <ng-container *ngFor="let menu of menus">
            <option>{{menu.name}}</option>
        </ng-container>
    </select>
</div>