<div class="container-xl d-flex flex-column">
    <div class="row shadow-border">
        <div class="offset-8 col-4 offset-sm-8">
            <a routerLink="/">Home</a> | <a routerLink="/about-us">About Us</a>
        </div>
    </div>
    <div class="row shadow-border">
        <div class="col-sm-12 col-md-3 shadow-border" style="position: relative; overflow: hidden; height: 14em;">
            <div
                style="display: flex; align-items: center; padding-left: inherit; padding-right: inherit; height: 100%; position: absolute; left: 0px; width: 100%; justify-content: center;">
                <img class="mnrb-logo" src="assets/MNRB.png">
            </div>

        </div>
        <div class="col-sm-12 col-md-9 shadow-border">
            <div class="row shadow-border">
                <div class="offset-md-8 col-md-4 offset-0 col-12" style="position: relative;">
                    <button class="btn" style="position: absolute; right: .75rem;"><i class="bi bi-search"></i></button>
                    <input class="form-control" placeholder="Search" type="text">
                </div>
            </div>
            <div class="shadow-border mt-3 mb-3">
                <app-horizontal-menu></app-horizontal-menu>
            </div>
        </div>
    </div>
    <div class="row shadow-border mb-4" style="flex: 1;">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="shadow-border" style="position: relative;">
        <div style="position: absolute; left: -50vw; z-index: -1; width: 200vw; height: 100%; background-color: white"></div>
        <div class="col-12">
            Stuff goes here
        </div>
    </div>
    <div class="shadow-border" style="position: relative;">
        <div style="position: absolute; left: -50vw; z-index: -1; width: 200vw; height: 100%; background-color: #BB934B"></div>
        <div class="col-12">
            Stuff goes here
        </div>
    </div>
</div>