:host {
    display: flex;
    width: 100%;
}

.mnrb-logo {
    @media (max-width: 767px) {
        width: auto;
        height: 100%;
    }

    @media (min-width: 768px) {
        width: 100%;
    }
}