<div class="container d-flex flex-column">
    <div class="row shadow-border">
        <div class="col-sm-12">
            home and contact us
        </div>
    </div>
    <div class="row shadow-border">
        <div class="col-sm-12 col-md-4 shadow-border">
            Logo here
        </div>
        <div class="col-sm-12 col-md-8 shadow-border">
            <div class="row shadow-border">
                search thingy
            </div>
            <div class="row shadow-border">
                menu thingy
            </div>
        </div>
    </div>
    <div class="row shadow-border" style="flex: 1;">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
