<div class="row shadow-border">
    <div class="col-12">
        {{title}}
    </div>
</div>
<div class="row shadow-border" style="flex: 1;">
    <div class="col-sm-4 shadow-border d-flex flex-column">
        <ng-container *ngFor="let i of sideMenu">
            <button (click)="pageClickEvt($event, i)" class="btn btn-light">{{i.name}}</button>
        </ng-container>
    </div>
    <div class="col-sm-8 shadow-border">
        <div class="page-title">{{activePage?.name}}</div>
        <ng-content></ng-content>
    </div>
</div>