<!-- <div class="shadow-border" style="color: white; font-weight: bold; background-color: #BB934B; width: 100vw; position: absolute; left: 0px;">
    <div class="container-xl">
        <h2 style="margin-top: 24px;">{{title}}</h2>
    </div>
</div> -->
<div class="shadow-border" style="position: relative;">
    <div style="position: absolute; left: -50vw; z-index: -1; width: 200vw; height: 100%; background-color: #BB934B"></div>
    <h2 style="margin-top: 24px; color: white;">{{title}}</h2>
</div>
<div class="row shadow-border" style="flex: 1;">
    <div class="col-sm-4 shadow-border d-flex flex-column">
        <ng-container *ngFor="let i of sideMenu">
            <button (click)="pageClickEvt($event, i)" class="btn btn-light">{{i.name}}</button>
        </ng-container>
    </div>
    <div class="col-sm-8 shadow-border">
        <div class="page-title">{{activePage?.name}}</div>
        <ng-content></ng-content>
    </div>
</div>