<ng-container *ngIf="ui.showMenu">
    <div class="d-flex" style="height: 100%; background-color: rgba(44, 44, 44, 0.176);">
        <div class="shadow-border flex-column d-flex" style="width: 20em; flex: 1; height: 100%; position: absolute; overflow: auto; background-color: white;">
            <ng-container *ngFor="let menu of menus">
                <ng-container *ngTemplateOutlet="menuButton; context: { menu: menu }"></ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-template #menuButton let-menu="menu">
    <div (click)="onMenuClicked(menu.path)" class="shadow-border" style="padding: 1em;">
        <span>{{menu.name}}</span>
    </div>
</ng-template>
